<h1>Create a new figure</h1>

<form action="/figures" method="POST">
  <label>Figure Name:</label>
  <br></br>

  <input type="text" name='figure[name]' id="figure_name"></input>
  <br></br>

  <label>Choose or create a landmark:</label>
  <br></br>
    <%Landmark.all.each do |landmark|%>
      <ol>
        <input type="checkbox" name=figure[landmark_ids][] id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
      </ol>
    <%end%>
  <br></br>
  <label>New Landmark Name:</label>
  <br></br>

  <input type="text" name='landmark[name]' id="new_landmark"></input>
  <br></br>

  <label>Choose or create a title:</label>
  <br></br>

    <%Title.all.each do |title|%>
      <ol>
        <input type="checkbox" name='figure[title_ids][]' id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
      </ol>
    <%end%>
  <br></br>
  <label>New Title Name:</label>
  <br></br>

  <input type="text" name='title[name]' id="new_title"></input>
  <br></br>

  <input type="submit" value="Create New Figure" id="Create New Figure"></input>
</form>
